*.swp
*.un~

/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.swp
/example/*.rb
/example/*.md
/example/*.tex
/example/*.dvi
/example/*.pdf
/example/*.aux
/example/*.log
